.jumbotron-fluid {
	background: url("https://picsum.photos/g/1440/880") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	overflow: scroll;
}
.jumbotron-fluid h1 {
	text-align: center;
	color: grey;
	font-family: "Fredericka the Great";
	font-size: 3em;
}
#quotetext {
	font-family: "Amatic SC", "Raleway", "Lobster";
	font-size: 2.5em;
	color: white;
	text-align: center;
}
#authortext {
	font-family: "Amatic SC", "Raleway", "Lobster";
	font-size: 2em;
	color: white;
	text-align: right;
}
#quotemovietext {
	font-family: "Amatic SC", "Raleway", "Lobster";
	font-size: 2.5em;
	color: white;
	text-align: center;
}
#movietext {
	font-family: "Amatic SC", "Raleway", "Lobster";
	font-size: 2em;
	color: white;
	text-align: right;
}
#famous {
	margin-top: 10vw;
	background-color: #34495e;
	opacity: .9;
	width: 75vw;
	text-align: center;
}
#movie {
	margin-top: 0;
	background-color: #34495e;
	opacity: .9;
	width: 75vw;
	text-align: center;
}
#famous p {
	margin-top: 4vh;
	margin-bottom: 4vh;
	margin-left: 4vw;
	margin-right: 4vw;
}
#movie p {
	margin-top: 4vh;
	margin-bottom: 4vh;
	margin-left: 4vw;
	margin-right: 4vw;
}
#buttons {
	text-align: center;
	opacity: .5;
	width: 75vw;
}
.btn {
	margin: 10px;
}
#mobile {
	display: none;
	margin-top: 0;
	background-color: #34495e;
	opacity: .9;
	width: 75vw;
	text-align: center;
}
@media (max-width: 350px) {
    
	#mobile {
		display: inherit;
		margin-top: 0;
		background-color: #34495e;
		opacity: .9;
		width: 75vw;
		text-align: center;
		color: white;
		font-family: "Amatic SC", "Raleway", "Lobster";
	}
	#movie {
		display: none;
	}
	#famous {
		display: none;
	}
	#mobile p {
		margin-top: 4vh;
		margin-bottom: 4vh;
		margin-left: 4vw;
		margin-right: 4vw;
		font-size: 1.5em;
	}

}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
	padding-top: 5px;
	
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

.social-network a.icoGithub:hover{
    background-color: #000;
}

.social-network a.icoTwitter:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	float: right;
	position:relative;
	margin:2vh 2vw 2vh 2vw;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}

.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #95a5a6;   
}